<%= form_for @juice do |f| %>
  <p>
    <%= f.label :flavor %>
    <%= f.text_field :flavor %>
  </p>
  <p>
    <%= f.label :ingredients %>
    <%= f.text_field :ingredients %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>